<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/logo.png" width="50" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/categories/general'>General</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/categories/health'>Health</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/categories/scienceTech'>Science & Technology</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/categories/business'>Business</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/categories/entertainment'>Entertainment</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/categories/sports'>Sports</a>
      </li>
    </ul>
    <span class="navbar-text">
      <form class="form-inline my-2 my-lg-0">
          <button type="button" class="btn btn-outline-primary mx-2" routerLink="/createpost">Create Post</button>
        <input class="form-control mr-sm-2 form-control-secondary" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </span>
  </div>
</nav>