<h2>Create New Post</h2>
<form #createPost>

    <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" id="name" required name="name">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select  class="form-control" id="category" required name="category" [(ngModel)]="myPost.category">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option> 
        
        </select>
    </div>
    <div class="form-group">
        <label for="name">Content</label>
        <div [froalaEditor]  [(froalaModel)]="myPost.formModel"></div>
    </div>

    <div *ngIf="myPost.formModel">
      <div  [froalaView]="myPost.formModel"></div>
    </div>
    
</form>